{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Bytehub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
</head>

<body>
    <div id="post-popup-page">
        <div id="popup-content"></div>
    </div>
    <div id="bg-dim"></div>
    <button class="create-post-button" onclick="openPopup()">Create Post</button>
    <button class="user-profile"><a href="{% url 'profile' request.user.username %}">User Profile</a></button>
</body>
<script src="{% static 'assets/js/home.js' %}"></script>
</html>