{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Bytehub</title>
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
</head>

<body>
    <!-----  
    <div id="container">
      <div id="left">
        <div class="post">
          <button class="button" onclick="createPost()">Create Post</button>
        </div>
        <div class="section" id="announcements"><h4>Announcements</h4></div>
      </div>

      <div id="middle">
        <div class="postfeed">
          <div class="profile">
            <div class="profilepic">
              <img src="images/hesus.jpg" alt="Profile Picture" />
            </div>
            <div class="profilename"><h4>John Michael Coronel</h4></div>
          </div>
          <div class="postcontent">
            <div class="posttitle">
              <h5>Random Bullshit</h5>
            </div>
            <div class="posttext">
              <p>Just random bullshit</p>
            </div>
            <div class="postimages">
              <img class="postimage" src="images/dingdong.jpg" alt="PostImage"/>
              <img class="postimage" src="images/sample.jpeg" alt="PostImage"/>
              <img class="postimage" src="images/rrr.jpg" alt="PostImage"/>
              <img class="postimage" src="images/tocino.jpg" alt="PostImage"/>
              <img class="postimage" src="images/tree.png" alt="PostImage"/>
              <img class="postimage" src="images/tns.jpg" alt="PostImage"/>
              <img class="postimage" src="images/erap.jpg" alt="PostImage"/>
              <img class="postimage" src="images/image1.png" alt="PostImage"/>
            </div>
          </div>
          <div class="reactions">
            <div class="reaction">
              <button class="upvote"><img src="reactions/upvote.png" alt="upvote" /></button>
              <p class="votecount">1M</p>
            </div>
            <div class="reaction">
              <button class="downvote"><img src="reactions/downvote.png" alt="downvote" /></button>
              <p class="votecount">50</p>
            </div>
            <button class="commentbutton"><img src="reactions/comment.png" alt="comment" /></button>
            <button class="sharebutton"><img src="reactions/share.png" alt="share" /></button>
          </div>
        </div>

        <div class="postfeed">
          <div class="profile">
            <div class="profilepic">
              <img src="lebron/lebron.jpg" alt="Profile Picture" />
            </div>
            <div class="profilename"><h4>Lebron James</h4></div>
          </div>
          <div class="postcontent">
            <div class="posttitle"><h5>Lebron Goat Memes</h5></div>
            <div class="posttext">
              <p>LeBron James memes have become a cultural phenomenon, capturing the essence 
                of his iconic moments on and off the basketball court. From his intense game faces 
                to his infamous "LeBron James crying" image, these memes 
                have brought humor and entertainment to fans worldwide. Whether celebrating his triumphs or 
                poking fun at his occasional mishaps, LeBron's larger-than-life persona has provided endless fodder 
                for internet humor, solidifying his status as not just a basketball legend, but also a meme sensation.
              </p>
            </div>
            <div class="postimages">
              <img class="postimage" src="lebron/lebron1.jpeg" alt="PostImage"/>
              <img class="postimage" src="lebron/lebron3.jpeg" alt="PostImage"/>
              <img class="postimage" src="lebron/lebron4.jpg" alt="PostImage"/>
              <img class="postimage" src="lebron/lebron6.jpeg" alt="PostImage"/>
              <img class="postimage" src="lebron/lebron7.png" alt="PostImage"/>
              <img class="postimage" src="lebron/lebron8.jpg" alt="PostImage"/>
            </div>
          </div>
          <div class="reactions">
            <div class="reaction">
              <button class="upvote"><img src="reactions/upvote.png" alt="upvote" /></button>
              <p class="votecount">1k</p>
            </div>
            <div class="reaction">
              <button class="downvote"><img src="reactions/downvote.png" alt="downvote" /></button>
              <p class="votecount">50k</p>
            </div>
            <button class="commentbutton"><img src="reactions/comment.png" alt="comment" /></button>
            <button class="sharebutton"><img src="reactions/share.png" alt="share" /></button>
          </div>
        </div>
      </div>

      <div id="right">
        <div class="section" id="forums"><h4>Forums</h4></div>
        <div class="section" id="online-users"><h4>Online</h4></div>
    -->
    <div id="post-popup-page">
        <div id="popup-content"></div>

    </div>
    <div id="bg-dim"></div>
    <button class="create-post-button" onclick="openPopup()">Create Post</button>
    <button class="user-profile"><a href="{% url 'profile' request.user.username %}">User Profile</a></button>
</body>
<script src="{% static 'assets/js/home.js' %}"></script>
</html>