{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Bytehub</title>
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
</head>

<body>
  <!-- added header -->
  <header>
    <img src="{% static 'assets/images/ByteHubLogo.png' %}" alt="Website Logo" class="logo" />
    <img src="sample images/ByteHub.png" alt="Website Title" class="title" />
  </header>  
    <!-- this is for when the user clicks the create post button -->
    <div id="post-popup-page">
        <div id="popup-content"></div>
    </div>
    <!-- bg dim for the homepage when the pop up page for posting is on the screen -->
    <div id="bg-dim"></div>
    <button class="user-profile"><a href="{% url 'profile' request.user.username %}">User Profile</a></button>

    <!--added home page body-->
    <div id="container">
      <div id="left">
        <div class="post">
          <button class="button" onclick="openPopup()">Create Post</button>
        </div>
        <div class="section" id="announcements">
          <h4>Announcements</h4>
        </div>
      </div>

      <div id="middle">
        {% if user_posts %}
          {% for post in user_posts %}
          <div class="postfeed">
            <div class="profile">
              <div class="profilepic">
                <img src="{{ post.author.user_image.url }}" alt="Profile Picture" />
              </div>
              <div class="profilename"><h4>{{ post.author.user.username }}</h4></div>
            </div>
            <div class="postcontent">
              <div class="posttitle">
                <h5>{{ post.post_title }}</h5>
              </div>
              <div class="posttext">
                <p>{{ post.post_text }}</p>
              </div>
            </div>
            <div class="reactions">
              <div class="reaction">
                <button class="upvote"><img src="reactions/upvote.png" alt="upvote" /></button>
                <p class="votecount"> {{post.post_upvotes}} </p>
              </div>
              <div class="reaction">
                <button class="downvote"><img src="reactions/downvote.png" alt="downvote" /></button>
              </div>
              <button class="commentbutton"><img src="reactions/comment.png" alt="comment" /></button>
              <button class="sharebutton"><img src="reactions/share.png" alt="share" /></button>
            </div>
          </div>
        {% endfor %}
        {% else %}
          <h4 style="text-align: center; transform: translateY(500%);">No posts available.</h4>
        {% endif %}
      </div>
      <div id="right">
        <div class="section" id="forums">
          <h4>Forums</h4>
        </div>
        <div class="section" id="online-users">
          <h4>Online</h4>
        </div>
      </div>
    </div>

</body>
<script src="{% static 'assets/js/home.js' %}"></script>
</html>