{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Bytehub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <button onclick="closePopup()">x</button>
    <h1>test</h1>
 <!-- Scripts
    This is where u link up with the js files in assets/js directory
    ================================================== -->
</body>


</html>