{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Bytehub</title>
    <link rel="stylesheet" href="{% static 'assets/css/signup.css' %}">

</head>

<body class="bg-gray-100">
    <img src="{% static 'assets/images/ByteHubLogo.png' %}">
    <div>
        <style>
            h5 {
                color: red;
                text-align: center;
            }
        </style>
        {% for message in messages %}
        <h5> {{ message }} </h5>
        {% endfor %}
    </div>
    <form id="signUpForm" action="" method="POST">
        {% csrf_token %}
        <input type="text" name="username"  placeholder="Enter Username" required/>
        <input type="email" name="email" placeholder="Enter Email" required/>
        <select name="course" required>
            <option value="">Select Course</option>
            {% for course in courses %}
                <option value="{{ course.id }}">{{ course.course_name }}</option>
            {% endfor %}
        </select>
        <input type="password" name="password" placeholder="Enter Password" required/>
        <input type="password" name="password2" placeholder="Confirm Password" required/>
        <button type="submit">Register</button>
        <div>
            <p>Do you have an account? <a href="{% url 'signin' %}"><small>Login</small></a></p>
        </div>
    </form>

</body>


</html>